alias nv='nvim $(fzf --preview="cat {}")'
alias cat='bat'
alias vim='nvim'
alias vi='nvim'
alias py='python'
alias ga='git add'
alias gc='git commit'
alias gp='git push'
alias gcl='git clone'
alias mkdir='mkdir -p'
alias minecraft='java -jar ~/Downloads/Tlauncher/TLauncher.jar'
alias py='python'
alias wifi='nmcli device wifi connect'
